@model FriendViewModel;

<h2>Create New Friend</h2>
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>

    $(document).ready(function () {
        // Initialize datepicker for the 'DoB' input field
        $('.datepicker').datepicker({
            dateFormat: 'yy-mm-dd', // Define your desired date format
            changeMonth: true,
            changeYear: true,
            yearRange: '-100:+0' // Adjust this range as needed
        });
    });
</script>
<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" type="email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Phone" class="control-label"></label>
        <input asp-for="Phone" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="DoB" class="control-label"></label>
        <input asp-for="DoB" class="form-control datepicker" />
    </div>
    <div class="m-3">
        <a class="btn btn-primary" asp-controller="Friends" asp-action="Index">Back</a>
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
    
</form>
